.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto, sant-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.social-icons, .main-meny, .contacts__list, .advantages__list, .work__list, .team__list, .clients__set, .contacts__list_footer, .meny-portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo, .main-meny__link, .contacts__mail-icon, .contacts__telefon-icon, .contacts__link, .address-link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--titel-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  /* justify-content: center;
   /*align-content: center;*/
}

.social-icons__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  /*justify-content: center;
    align-content: center;*/
}

.social-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border-radius: 50%;
}

.socialicons-content {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-icon__link:hover {
  background-color: #2196F3;
}

.social-icon__link:hover .socialicons-content {
  fill: #FFFFFF;
}

.social-icons__set:last-child {
  margin-right: 0;
}

.main-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--titel-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-left: 287px;
  margin-top: 21px;
  margin-bottom: 21px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.page-header {
  position: relative;
}

.mobile-meny {
  background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .mobile-meny {
    display: none;
    position: absolute;
    padding: 60px 140px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453;
  }
  .mobile-meny.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-meny {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.icon-menu:hover {
  border: transparent;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sant-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1,19;
}

.logo-element {
  color: #2F303A;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*meny*/
@media screen and (min-width: 767px) {
  .main-meny {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 767px) {
  .main-meny__item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-meny__link {
  position: relative;
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  text-align: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-meny__link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  /*transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  background-color: #2196F3;
  border-radius: 2px;
}

/*.meny-link:hover::after {
    opacity: 1;
}*/
.main-meny__link:hover,
.main-meny__link:focus {
  color: #2196F3;
}

.main-meny__link.current {
  display: inline-block;
}

.main-meny__link.current {
  margin: 0 0;
  padding-bottom: 8px;
  color: #2196F3;
}

@media screen and (min-width: 767px) {
  .main-meny__link.current {
    margin: 32px 0px;
  }
}

/*.current.portfolio::after{
    width: 78px;
}*/
.contacts__mail-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 12px;
  width: 16px;
  fill: main-color;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__mail-icon {
    height: 10px;
    width: 14px;
    margin-right: 8px;
  }
}

.contacts__telefon-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 16px;
  width: 10px;
  fill: main-color;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__telefon-icon {
    height: 14px;
    width: 10px;
    margin-right: 8px;
  }
}

/*contact personal*/
@media screen and (min-width: 767px) {
  .contacts {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1199px) {
  .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__list .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

.contacts__item {
  text-align: center;
}

@media screen and (min-width: 767px) {
  .contacts__item {
    text-align: left;
  }
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.171;
  }
}

.contacts__link:hover {
  color: #2196F3;
}

.contacts__link:hover .contacts__telefon-icon,
.contacts__link:hover .contacts__mail-icon {
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/HeaderMobil.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/HeaderMobil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/HeaderMobil@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/HeaderTablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/HeaderTablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/HeaderTablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/HeaderDesktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/HeaderDesktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/HeaderDesktop@2x.jpg);
  }
}

.hero-title {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
  }
}

.hero-main {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /*pomogaet propystit sobitiya*/
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1, 2);
          transform: translate(-50%, -50%) scale(1, 2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  /*margin-top: 8px;
    margin-right: 8px;*/
  padding: 9px 9px 9px 9px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-button:hover .modal-icon {
  fill: #2196F3;
}

.modal-icon {
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blank {
  margin-left: 40px;
  margin-right: 40px;
  /*  width: 448px;*/
}

.blank-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  margin-bottom: 12px;
  margin-top: 40px;
}

.blank-form {
  /*mozno eshe cherez display=block dlya label i input*/
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* width: 448px;
   /* height: 40px;*/
  /*padding: 10px 20px;*/
}

.form-input {
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blank-icon {
  position: absolute;
  bottom: 40%;
  left: 13.5px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 15px;
  height: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196F3;
}

.blank-form:focus-within > .blank-icon {
  fill: #2196F3;
}

.form-input.kommentar {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.form-label {
  font-size: 12px;
  line-height: 1.172;
  margin-bottom: 4px;
}

.checkbox-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin-left: 54px;
    margin-right: 51px;*/
  margin-bottom: 30px;
  line-height: 1.71;
}

.blank-checkbox {
  color: #757575;
  font-size: 12px;
  line-height: 1.712;
}

@media screen and (min-width: 1200px) {
  .blank-checkbox {
    font-size: 14px;
  }
}

.blank-checkbox a {
  color: #2196F3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  margin-left: 10px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .checkbox-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.blank .main-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.blank .main-button:hover {
  background-color: #188CE8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages__item-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantages__item-title {
    text-align: left;
  }
}

.adventages__icon-set {
  padding: 25px 190px;
  background: #F5F4FA;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .adventages__icon-set {
    padding: 25px 144px;
  }
}

@media screen and (min-width: 1200px) {
  .adventages__icon-set {
    padding: 25px 100px;
  }
}

.adventage__icon {
  width: 70px;
  height: 70px;
}

.advantages__item-post {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages__item {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(( 100% - 30px )/2);
  }
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc(( 100% - 90px )/4);
  }
  .advantages__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.section.work {
  padding-top: 0;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__list-item {
  position: relative;
  width: calc(( 100% - 60px )/3);
}

.work__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__layout-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__layout-category {
  margin-top: 27px;
  text-align: center;
  font-weight: 700;
  line-height: 0,853;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__list-members {
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list-members {
    width: calc(( 100% - 30px )/2);
  }
  .team__list-members:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__list-members:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-members {
    width: calc(( 100% - 90px )/4);
    margin-bottom: 0;
  }
  .team__list-members:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team__describing-members {
  margin: 30px 32px;
}

.team__name-members {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__members-occupation {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.clients__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(( 100% - 30px )/2);
  height: 90px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients__list:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__list:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    width: calc(( 100% - 60px )/3);
  }
  .clients__list:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__list:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    width: calc(( 100% - 150px )/6);
  }
  .clients__list:not(:nth-child(6n)) {
    margin-right: 30px;
  }
}

.clients__list:hover {
  border: 1px solid #2196F3;
}

.clients__icon-content {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list:hover .clients__icon-content {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 76px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__tablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list_footer .contacts__item {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .logo-element {
  color: #FFFFFF;
}

.footer__contacts {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link.footers {
    font-size: 14px;
  }
}

.address-link {
  color: #FFFFFF;
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts {
  font-style: normal;
  line-height: 1.71;
}

.footer .social-icon__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-icon__link:hover {
  background-color: #2196F3;
}

.footer .socialicons-content {
  fill: #FFFFFF;
}

.recall {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .recall {
    margin-right: 93px;
  }
}

.recall-word {
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 0,853;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .recall-word {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .recall-word {
    text-align: left;
  }
}

.sub-form {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .sub-form {
    padding-left: 168px;
    padding-right: 152px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .sub-form {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sub-form {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sub-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.sub-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.sub-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #F5F4FA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .sub-input {
    margin: 20px 0;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-input {
    width: 358px;
    margin: 0 0;
  }
}

.sub-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.sub-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.sub-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.sub-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.footer .main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 140px;
}

@media screen and (min-width: 768px) {
  .footer .main-button {
    margin-left: 291px;
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer .main-button {
    margin-left: 0;
    margin-right: 0;
  }
}

.page-header.portfolio {
  border: 1px solid #ECECEC;
}

.meny-portfolio {
  padding-bottom: 50px;
}

.meny-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* align-items: center;*/
}

.secondary-btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.meny-portfolio__button {
  margin-right: 8px;
}

.meny-portfolio__button:not(:nth-last-child(-n+2)) {
  margin-bottom: 15px;
}
/*# sourceMappingURL=main.css.map */