.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: $mobil) {
      width: 480px;
      //background-color: violet;
    }
    @media screen and (min-width: $tablet) {
      width: 768px;
      //background-color: yellow;
    }
    @media screen and (min-width: $desktop) {
      width: 1200px;
      
      //background-color: teal;
    }
  }