$mobil: 480px;
$tablet: 768px;
$desktop: 1200px;

$main-color: #757575;
$brand-color: #2196F3;
$titel-color: #212121;
$white-color: #FFFFFF; 
$button-color: #F5F4FA;
$foot-head-color:  #2F303A;
$icon-color:#AFB1B8;
